DB_HOST=
DB_NAME=
DB_PASS=
DB_PORT=3306
DB_USER=
JWT_ACCESS_EXPIRES=365d
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFdDJhMlF0eDA4NDVxOWlnRTZGTjZ2SkRDaE1RVQpCeHJ5SXZ1Q2duS2xocUdyQnRRazE3a1dGcldRWlpSbFBTeWVMdmdvbHIxU2NHR00rc1dxK1VFNWNBPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg=="
JWT_REFRESH_EXPIRES=366d
PORT=3000
SERVER_ID=MARS
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true