PORT=3000
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=
DATABASE_URL="mysql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFdDJhMlF0eDA4NDVxOWlnRTZGTjZ2SkRDaE1RVQpCeHJ5SXZ1Q2duS2xocUdyQnRRazE3a1dGcldRWlpSbFBTeWVMdmdvbHIxU2NHR00rc1dxK1VFNWNBPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_EXPIRES=7d
